@import url('base/layout.css');
@import url('base/button.css');
@import url('base/input.css');
@import url('base/grid.css');
@import url('base/dialog.css');
@import url('base/select.css');
@import url('base/combobox.css');
@import url('base/dropdown.css');
@import url('base/toast-messenger.css');
@import url('base/popup.css');
@import url('common/my-ui.css');
@import url('base/covid.css');

@font-face {
    font-family: 'GoogleSans-Bold';
    src: url('../content/font/GoogleSans-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Thin';
    src: url('../content/font/GoogleSans-Thin.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Italic';
    src: url('../content/font/GoogleSans-Italic.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('../content/font/GoogleSans-Regular.otf') format('opentype');
}


::-webkit-scrollbar {
    width: 2px;
    background-color: #ffffff;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 4px;
}

.grid *:hover::-webkit-scrollbar {
    width: 8px;
    background-color: lightgray;
}

/*.dropdown * :-webkit-scrollbar {
    width: 1px;
    background-color: #ffffff;
    border-radius: 1px;
}

.dropdown *:-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 1px;
}
*/


body{
    margin: 0;
    padding: 0;
    font-family: GoogleSans-Regular;
    font-size:13px;
}

button{
    cursor:pointer;
}

