

    .dropdown {
        width: 200px;
        height: 40px;
        position: relative;
    }

    .dropdown p {
        margin: 0;
        line-height: 40px;
        font-size: 13px;
        margin-left: 10px;
        font-family: 'GoogleSans-Regular';
    }

    .dropdown .dropdown-main {
        height: 40px;
        width: 100%;
        background-color: #ffffff;
        border: 1px solid #bbbbbb;
        border-radius: 4px;
        outline: none;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

        .dropdown .dropdown-main .icon {
            width: 20px;
            height: 20px;
            background-color: #ffffff;
            margin-right: 4px;
            margin-top: 7px;
        }

            .dropdown .dropdown-main .icon i {
                transition: 0.5s;
            }

        .dropdown .dropdown-main:focus .icon i {
            transform: rotate(180deg);
            transition: 0.5s;
        }

        .dropdown .dropdown-main:focus {
            border-color: #019160;
        }



    .dropdown .dropdown-data {
        position: absolute;
        border-radius: 4px;
        top: 40px;
        left: 0;
        width: 100%;
        height: 0;
        background-color: white;
        /* display: none; */
        transition: 0.5s;
        overflow-y: scroll;
        /*overflow-y: overlay;*/
    }

    .dropdown .dropdown-main:focus ~ .dropdown-data {
        /* height: auto;
    max-height: 210px; */
        height: 140px;
        transition: 1s;
        background-color: white;
        z-index: 99;
        box-shadow: 1px 2px 4px 1px #454545;
    }

    .dropdown .dropdown-data .dropdown-item {
        width: 100%;
        height: 40px;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

        .dropdown .dropdown-data .dropdown-item:hover {
            background-color: #E9EBEE;
        }

        .dropdown .dropdown-data .dropdown-item i {
            margin-left: 10px;
            margin-right: 10px;
            font-size: 16px;
            opacity: 0;
        }

        .dropdown .dropdown-data .dropdown-item.item-selected {
            background-color: #019160;
        }

            .dropdown .dropdown-data .dropdown-item.item-selected i {
                opacity: 1;
                color: #ffffff;
            }

            .dropdown .dropdown-data .dropdown-item.item-selected p {
                color: #ffffff;
            }



        .dropdown .dropdown-data .dropdown-item:first-child {
            margin-top: 5px;
        }

        .dropdown .dropdown-data .dropdown-item:last-child {
            margin-bottom: 5px;
        }



        .dropdown.last-dropdown .dropdown-data {
            top: 0px;
        }

        .dropdown.last-dropdown .dropdown-main:focus ~ .dropdown-data {
            /* height: auto;
    max-height: 210px; */
            height: 140px;
            transition: 1s;
            background-color: white;
            z-index: 99;
            box-shadow: 1px -2px 4px 1px #454545;
            top: -140px;
        }


/*dropdown restaurant*/

.content .content-header .header-left .dropdown{
    width:190px;
}

.content .content-header .header-left .dropdown .dropdown-main {
    border: none;
}

.content .content-header .header-left .dropdown .dropdown-main p{
    font-weight:bold;
    font-size:15px;
}